/* for selecting id */
#title {
  background: #F2EFE5;
  color: #33393F;
  text-align: left;
}

.container-fluid {
  padding: 1% 3%;
}

h1, h4 {
  font-family: "Bubblegum Sans";
}

h4 {
  margin-top: 2em;
}

p {
  color: #8f8f8f;
}

body {
  font-family: "Montserrat";
  text-align: center;
}

/* headings */
.big-heading {
  font-family: "Bubblegum Sans";
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.5;
}

.section-heading {
  font-style: "Montserrat-Bold";
  font-size: 2rem;
  line-height: 1.5;
}

/* for targeting classes */

.logo {
  margin-bottom: 2em;
}

.quot {
  padding: 2%;
}

/* navbar */
.navbar-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1rem;
  font-family: "Montserrat";
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: bold;
}

/* features */
#features {
  padding: 7% 7%;
}

.feature-box {

  padding: 5%;
}

.icon {
  color: #33393F;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #F89F46
}

.feature-title {
  font-weight: 900;
}

/* testimonials sesction  */
#testimonials {

  background-color: #8f8f8f;
  color: #33393F;
}

.test-image {
  width: 10%;
  border-radius: 100%;
  margin: 20;
}

.carousel-item {
  padding: 7% 13%;
}

.testimonial-text {
  font-style: "Montserrat-Bold";
  font-size: 2rem;
  line-height: 1.5;
}

/* press section */
#press {
  background-color: #8f8f8f;

  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px;
}

/* prices */
#pricing {
  padding: 100px;

}

.pricing-col {
  padding: 3% 2%;
}

.price-txt {
  font-style: "Montserrat-Bold";
  font-size: 2rem;
  line-height: 1.5;
}

/* Call to Action */
#cta {
  background: #8f8f8f;
  color: #33393F;
  padding: 7% 15%;

}

.cta-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

/* footer */
#footer {
  padding: 7% 15%;

}

.social-icon {
  margin: 20px 10px;
}

/* media_query */
@media (max-width:1028) {
  #title {
    text-align: center;
  }
}
