
/* for selecting id */
#title{
background: #F2EFE5;

}

.container-fluid{
  padding: 1% 3%


}

h1{
  font-family: "Bubblegum Sans";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;

}

h4{
  margin-top: 2em;
  font-family: "Bubblegum Sans";
}

.quot{
padding: 2%;
}

.logo{
  margin-bottom: 2em;
}
/* for targeting classes */
.navbar{


}

.nav-item{



}
